div(class='container-fluid fixed-top bg-dark p-0 pl-1 pr-1')
    div(id='room-top-bar', class='container-fluid d-inline-flex justify-content-between p-0')
        div(class='d-inline-flex align-items-center p-0')
            div(class='p-0 bd-highlight')
                a(href='/roomlist')
                    button(class='btn btn-sm btn-outline-secondary', type='button')
                        span(class='fa fa-angle-left')
            div(class='p-2 bd-highlight')
                span(class='text-left text-white') #{title}
        div(class='d-inline-flex align-items-center p-0')
            button(id='btn-do-search', class='navbar-toggler text-secondary', type='button')
                span(class='fas fa-search')
            button(class='navbar-toggler text-secondary', type='button', data-toggle='collapse', data-target='#roomToggleMenu', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle Menu')
                span(class='fas fa-ellipsis-v')
    div(class='container-fluid p-0')
        div(id='search-form', class='bg-dark text-white pt-1 pb-1 pr-0 pl-0 input-group', style='display: none;')
            div(class='input-group-prepend')
                button(id='btn-back-search', class='btn btn-outline-secondary', type='button')
                    i(class='fas fa-arrow-left')
            input(id='inp-search' type='search', class='form-control')
            div(class='input-group-append')
                button(id='btn-search' class='btn btn-outline-secondary')
                    i(class='fas fa-search')
    div(class='collapse', id='roomToggleMenu')
        div(class='bg-dark p-2 text-white mb-4')
            p 대화 상대
            ul(class='list-group room-user-list-text', style='max-height: 240px; overflow: auto;')
                - var inviteAddr = '/room/' + data.room_info.room_num + '/invite';
                - if (data.user_info.role === 'mgr')
                    a(href=inviteAddr class='list-group-item text-dark')
                        span(class='fas fa-user-plus fa-2x mr-2')
                        span 회원 추가
                        span 회원 추가
                each item in data.user_list
                    - var user_id = item.user_id
                    - var userItemId = 'userItem-' + user_id;
                    - var delUserId = 'delUser-' + user_id;
                    - if (item.user_id != data.user_info.user_id)
                        li(class='list-group-item text-dark ', id=userItemId)
                            div(class='d-inline-flex justify-content-between room-user-list-item')
                                div(class='d-inline-flex align-items-center')
                                    div(class='fas fa-user fa-2x mr-3')
                                    div
                                        p(class='font mr-3 mb-0') #{item.user_name}
                                        - if (item.email != null)
                                            small #{item.email}
                                - if (data.user_info.role === 'mgr')
                                    div(class='d-inline-flex align-items-center dropdown')
                                        button(class='text-dark navbar-toggler p-0', data-toggle='dropdown')
                                            div(class='fas fa-ellipsis-v')
                                        div(class='dropdown-menu')
                                            button(class='dropdown-item text-dark del-user', id=delUserId, value=user_id) 대화방에서 제외
