div(class='container-fluid fixed-top bg-dark')
    div(class='row')
        div(class='col-10 d-flex flex-row align-items-center pl-0')
            div(class='p-2 bd-highlight')
                a(href='/roomlist')
                    button(class='btn btn-sm btn-outline-secondary', type='button')
                        span(class='fa fa-angle-left')
            div(class='p-2 bd-highlight')
                span(class='text-left text-white') #{title}
        div(class='col-2 d-flex flex-row-reverse align-items-center pr-2')
            div(class='p-2 bd-highlight')
                button(class='navbar-toggler text-secondary', type='button', data-toggle='collapse', data-target='#roomToggleMenu', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle Menu')
                    span(class='fas fa-ellipsis-v')
    div(class='collapse', id='roomToggleMenu')
        div(class='bg-dark p-2 text-white mb-4')
            p 대화 상대
            ul(class='list-group room-user-list-text', style='max-height: 240px; overflow: scroll;')
                - var inviteAddr = '/room/' + data.room_info.room_num + '/invite';
                - if (data.user_info.role === 'mgr')
                    a(href=inviteAddr class='list-group-item text-dark')
                        span(class='fas fa-user-plus fa-2x mr-2')
                        span 회원 추가
                each item in data.user_list
                    - var user_id = item.user_id
                    - var userItemId = 'userItem-' + user_id;
                    - var delUserId = 'delUser-' + user_id;
                    - if (item.user_id != data.user_info.user_id)
                        li(class='list-group-item text-dark ', id=userItemId)
                            div(class='d-inline-flex justify-content-between room-user-list-item')
                                div(class='d-inline-flex align-items-center')
                                    div(class='fas fa-user fa-2x mr-3')
                                    div
                                        p(class='font mr-3 mb-0') #{item.user_name}
                                        - if (item.email != null)
                                            small #{item.email}
                                - if (data.user_info.role === 'mgr')
                                    div(class='d-inline-flex align-items-center dropdown')
                                        button(class='text-dark navbar-toggler p-0', data-toggle='dropdown')
                                            div(class='fas fa-ellipsis-v')
                                        div(class='dropdown-menu')
                                            button(class='dropdown-item text-dark del-user', id=delUserId, value=user_id) 대화방에서 제외
